[Unit]
Description=Redpesk modbus service

[Service]
Type=simple
ExecStartPre=mkdir -p /run/user/%U/apis/ws
ExecStart=/usr/bin/afb-binder \
	--name=afb-modbus \
	--port=12345 \
	--workdir=/usr/share/modbus-binding \
	--ldpaths=. \
    --roothttp=. \
    --token= \
    --verbose \
    --verbose \
    --verbose \
	--ws-server=unix:/run/user/%U/apis/ws/modbus

[Install]
WantedBy=multi-user.target
